@font-face {
	font-family: 'Blender Pro Book';
	src: url(../../assets/fonts/BlenderPro-Book.woff2) format('woff2'),
	url(../../assets/fonts/BlenderPro-Book.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Blender Pro Book';
	src: url(../../assets/fonts/BlenderPro-Book.woff2) format('woff2'),
	url(../../assets/fonts/BlenderPro-Book.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Blender Pro Book';
	src: url(../../assets/fonts/BlenderPro-Book.woff2) format('woff2'),
	url(../../assets/fonts/BlenderPro-Book.woff) format('woff');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Blender Pro Book';
	src: url(../../assets/fonts/BlenderPro-BookItalic.woff2) format('woff2'),
	url(../../assets/fonts/BlenderPro-BookItalic.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Blender Pro Book';
	src: url(../../assets/fonts/BlenderPro-BookItalic.woff2) format('woff2'),
	url(../../assets/fonts/BlenderPro-BookItalic.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}

@font-face {
	font-family: 'Blender Pro Book';
	src: url(../../assets/fonts/BlenderPro-BookItalic.woff2) format('woff2'),
	url(../../assets/fonts/BlenderPro-BookItalic.woff) format('woff');
	font-weight: 500;
	font-style: italic;
	font-display: swap;
}